<!DOCTYPE html>  
<html>
<head>
  <title>SaveOhno</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="turn-device">
    <p> On a phone or tablet? Please turn your device sideways! </p>
    <p> On a laptop or desktop? Please make your browser window larger! </p>
  </div>
  <div class="hub">
    <%= image_tag 'hub2.png', id: 'hub-start' %>
    <%= image_tag 'fingerprint.png', id: 'fingerprint' %> 
    <%= image_tag 'fingerprint2.png', id: 'fingerprint2' %> 
    <%= image_tag 'access-granted.png', id: 'access-granted' %>
    <%= image_tag 'who-is-ohno2.png', id: 'who-is-ohno' %>
    <%= image_tag 'what-is-saveohno2.png', id: 'what-is-saveohno' %>
    <%= image_tag 'stay-updated2.png', id: 'stay-updated' %>
  </div>
  <%= image_tag 'arrow.png', id: 'start-here' %>
  <div class="overlay"></div>
  <div class="floating-display">
    <%= image_tag 'floating-display2.png', class: 'floating-display-img' %>
    <div class="who-is-ohno-content">
      <p id="who-is-ohno-line1">This is your great <br>granddaughter, Ohno.</p>
      <p id="who-is-ohno-line2">She lives far in the<br> future, in a time seriously<br> affected by the climate<br> change caused from today<br></p>
      <%= image_tag 'OHNO-sad.png', class: 'ohno-sad' %>
      <br>
      <div class="ohno-wrapper">
        <%= image_tag 'OHNO.png', class: 'ohno' %>
      </div>
    </div>
    <div class="what-is-saveohno-content">
      <p id="what-is-saveohno-line1">SaveOhno.org is a platform <br> (launching soon) where people can<br> see climate change affect the <br>life of Ohno.<br></p>
      <%= image_tag 'ohno-tornado.png', class: 'ohno-tornado' %> 
      <p id="what-is-saveohno-line2">Through this site, users'<br> real world actions influence the<br> virtual life of Ohno. If a user<br> signs petitions, emails politicians,<br> supports projects etc, Ohno's life<br> improves. If the user doesn't,<br> her life only worsens.</p>
      <p id="what-is-saveohno-line3">This is your world, and <br>you determine its level of<br> prosperity, or despair.<br></p>
      <%= image_tag 'OHNO-neutral.png', class: 'ohno-neutral' %>
    </div>
    <div class="next-button-wrapper">
      <%= image_tag 'Next Button.png', id: 'next-button' %>
    </div>
    <div class="stay-updated-content">
      <p> SaveOhno.org is coming soon. <br>Wanna stay updated on our progress <br>towards launch, gain some early bird <br>points,and help us get funded? </p>
      <br><br>
      <a href="https://www.kickstarter.com/projects/136597581/saveohnoorg">Back us on Kickstarter!</a>
    </div>
  </div> 
  <a href="https://www.kickstarter.com/projects/136597581/saveohnoorg">
    <%= image_tag('kickstarter-badge-beveled.png', class: 'kickstarter-badge') %>
  </a>  
</body>
</html>