<!DOCTYPE html>
<html>
<head>
  <title>SaveOhno</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="hub">
    <%= image_tag 'hub.png', id: 'hub-start' %>
    <%= image_tag 'fingerprint.png', id: 'fingerprint' %> 
    <h3 id="access-granted">Access<br>Granted</h3>
    <%= image_tag 'who-is-ohno.png', id: 'who-is-ohno' %>
    <%= image_tag 'how-can-i-help.png', id: 'how-can-i-help' %>
    <%= image_tag 'stay-updated.png', id: 'stay-updated' %>
  </div>
  <div class="floating-display">
    <%= image_tag 'floating-display.png', class: 'floating-display-img' %>
    <div class="coming-soon-wrapper">
      <h1 class="coming-soon"> Coming soon. </h1>
    </div>
  </div> 
</body>
</html>