<h1> Sign up failed, please fill in both Name and Email. Pledging a donation is optional. </h1>
<center><div id="new-user-form-after">
<%= form_for(@pre_launch_user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :donation_amount %>
  <br>
  <%= f.text_field :donation_amount %>
  <br>
  <br>
  <%= f.submit "Submit", class: "submit-button" %>
<% end %>
</div>
<br>
<br>
<%= link_to 'Go to home page', root_url %>
</center>