<!DOCTYPE html>
<html>
<head>
  <title>SaveOhno | Kickstarter Pledge</title>
  <%= stylesheet_link_tag "pre_launch_users", media: "screen", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "c930d368-d906-4262-b627-352cc4fedd1f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
 <%= render 'layouts/header' %>
  <div class="container">
	<h1> Thank you! </h1>
	<br>
	<br>
	<center>
	<h3> Multiply Your Impact </h3>
	<span class='st_facebook_large' displayText='Facebook'></span>
	<span class='st_twitter_large' displayText='Tweet'></span>
	<span class='st_linkedin_large' displayText='LinkedIn'></span>
	<span class='st_email_large' displayText='Email'></span>
	<br>
	<%= link_to 'Learn more about SaveOhno', root_path %>
	</center>
  </div>
</body>
</html>